# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Project-specific ignores in subdirectories
**/node_modules/
**/dist/
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/bin/
